* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content {
  margin: 0 auto;
  width: 1000px;
  height: auto;
  text-align: center;
}
.content > .theme {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px 50px;
  cursor: pointer;
  background-color: rgb(67, 67, 67);
  border-radius: 5px;
  color: whitesmoke;
}
.content > .theme:hover {
  background-color: rgb(200, 205, 205);
  color: #313131;
}
.content > .title {
  font-size: 3rem;
}
.content > .para {
  font-size: 2rem;
  font-style: italic;
}